body{
    margin: 0;
    padding: 0;
    background: cyan;
    

}
.formInfo{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.formDetails{
    background: white;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 4px 8px rgba(0,0,0,0.4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input{
    margin-bottom: 5px;
}
